{% extends "base.html" %}

{% block title %}{{ block.super }} &raquo; Contact{% endblock %}
{% block body %}contact{% endblock %}

{% block content %}
    <p>So you've had a look around and now you wanna get to asking me a few questions. Thats cool. You can either use the form below to drop me an email, or any of the following means of communication. I know these comment forms aren't too great, but they sure beat the hell out of spam.</p>

    <p><strong>Email me at <a href="mailto:michael@whalesalad.com">michael@whalesalad.com</a></strong><br />
    I check my mail essentially hourly so you'll be sure to get a fast response!</p>

    <p><strong>Shoot an IM to <a href="aim:goim?screenname=whalesalad&message=Hello?">whalesalad</a> via AIM</strong><br />
    Feel free to drop me a line via AIM any time. Don't worry, I promise I wont bite.</p>

    <p><strong>Check out my profile on <a href="http://hs.facebook.com/profile.php?id=1452030040">Facebook</a></strong><br />
    <s>I don't really like facebook all that much, especially since they created the platform for all of these obnoxious Facebook Apps.</s> Facebook is pretty cool.</p>

    <p><strong>Go throw yourself into a vat of drano at <a href="http://twitter.com/whalesalad">Twitter</a></strong><br />
    <s>I just started using Twitter. Feel free to follow me!</s> Twitter is a waste of time and energy.</p>
{% endblock %}