{% extends "base.html" %}

{% block title %}{{ block.super }} &raquo; Elixir{% endblock %}
{% block body %}elixir{% endblock %}

{% block content %}
    <p>Every custom made theme eventually reaches the end of its life of exclusivity. But really, at a certain point in time a theme reaches the end of its shelf life, and isn't as special to it's creator anymore. Lucky for all of you, however, I've decided to pack this theme up and release it for free to every one out on the interwebs.</p>

    <p><img src="http://whalesalad.com/elixir/elixir.png" /></p>

    <p>Not only did I decide to pack it up and release it, but I am releasing it in 5 exclusive fruitalicious colors, including a cool blue, lime green, smooth purple, bright orange, and of course the original pink you see here on Whalesalad right now.</p>

    <p>Feel free to download the theme and give it a shot on your own blog! Inside the downloaded zip file is a README to help get you started.</p>

    <div class="elixirUpdate">
        <h3>Updated &bull; 1/14/08</h3>
        <p>A bug (syntax error) brought to my attention from reader <a href="http://whalesalad.com/2007/07/23/elixir/#comment-11310">Matt</a> has been fixed. All of the download links have been updated!</p>
    </div>

    <div class="elixirDownload">
        <h3>Download Now (v1.3)</h3>
        <a class="classic" href="/static/download/elixir/elixir-classic.zip">Classic Pink</a> | <a class="blue" href="/static/download/elixir/elixir-blue.zip">Cool Blue</a> | <a class="lime" href="/static/download/elixir/elixir-lime.zip">Lime Green</a> | <a class="purple" href="/static/download/elixir/elixir-purple.zip">Smooth Purple</a> | <a class="orange"  href="/static/download/elixir/elixir-orange.zip">Bright Orange</a>
    </div>
{% endblock %}